<!-- ********************************** Container ****************************** -->
<div class="user-container">


    <!-- ********************************** User Box ************************** -->
    <div class="user-box">


        <!-- *********************************** Header *************************** -->

        <div class="appheader"><span class="lettercolor">T</span>itan <span class="lettercolor">F</span>inancial</div>

        <div class="appinfo">Users Information</div>

        <!-- ************************************ Body **************************** -->
        <div class="user-info">
            <div class="user-name">
                <div class="name">Name :</div>
                <div class="name-populated"></div>
            </div>
            <div class="user-date-of-birth">
                <div class="user-dob">Date of Birth:</div>
                <div class="user-dob-populated"></div>
            </div>
            <div class="user-ssn">
                <div class="user-social">SSN :</div>
                <div class="user-social-populated"></div>
            </div>
            <div class="user-home-tele">
                <div class="user-home">Home Number :</div>
                <div class="user-home-populated"></div>
            </div>
            <div class="user-cell-tele">
                <div class="user-cell">Cell Number :</div>
                <div class="user-cell-populated"></div>
            </div>
            <div class="user-address">
                <div class="user-home-address">Home Address :</div>
                <div class="user-address-populated"></div>
            </div>
            <div class="user-email">
                <div class="user-email-address">Email Address :</div>
                <div class="user-emial-populated"></div>
            </div>
            <div class="user-employer-name">
                <div class="employer-name">Employer :</div>
                <div class="employer-name-populated"></div>
            </div>
            <div class="user-employer-email">
                <div class="employer-email">Employer Email:</div>
                <div class="employer-email-populated"></div>
            </div>
            <div class="user-employer-tele">
                <div class="employer-tele">Employer Tele:</div>
                <div class="employer-tele-populated"></div>
            </div>
        </div>
    </div>
</div>
