<div class="employee-container">

    <div class="employee-box">
        <div class="employee-info">

            <!-- ********************** Left Side ************************** -->
            <div class="employee-left-box">
                <div class="find-user">
                    <div class="find">Find User</div>
                    <input class="finderbox" ng-model="finder" placeholder="Search for User........" />

                    <div class="myfind">Find My User</div>
                    <input class="finderbox" ng-model="myfinder" placeholder="Search for User........" />
                </div>

                <div class="users-populated-container-left">
                    <div class="users-populated-box">
                        <div class="users-populated" ng-click="getUser(user)" ng-repeat="user in users | filter: finder">
                            {{user.firstname}} {{user.lastname}}
                        </div>
                    </div>

                    <div class="my-users-populated-box">
                        <div class="my-users-populated" ng-click="getUser(user)" ng-repeat="user in currentuser.users | filter: myfinder">
                            {{user.firstname}} {{user.lastname}}
                        </div>
                    </div>
                </div>
            </div>


            <!-- ********************** Right Side ************************** -->
            <div class="employee-right-box">

                <div class="user-features">
                  <div class="add-user" ng-click="addUserRef(userObj._id)">Add User</div>
                  <div class="update-user" ng-click="updateUser(user)">Update User</div>
                  <div class="delete-user" ng-click="deleteUserRef(userObj._id)">Delete User</div>
                </div>

                <div class="users-populated-container-right">

                    <div class="single-user-populated">
                        <p><span>First Name: </span> {{userObj.firstname}}</p>
                        <p> <span>Last Name: </span>{{userObj.lastname}}</p>
                        <p> <span>Birth Month: </span>{{userObj.monthinput}}</p>
                        <p> <span>Birth Day: </span>{{userObj.dayinput}}</p>
                        <p> <span>Birth Year: </span>{{userObj.yearinput}}</p>
                        <p> <span>SSN: </span>{{userObj.ssn}}</p>
                        <p> <span>Home Number: </span>{{userObj.hometele}}</p>
                        <p> <span>Cell Number: </span>{{userObj.celltele}}</p>
                        <p><span>Email: </span>{{userObj.email}}</p>
                        <p> <span>Street Address: </span>{{userObj.addressinput}}</p>
                        <p> <span>City: </span>{{userObj.cityinput}}</p>
                        <p> <span>State: </span>{{userObj.stateinput}}</p>
                        <p> <span>Zip Code: </span>{{userObj.zipcode}}</p>
                        <p> <span>Employer Name: </span>{{userObj.employername}}</p>
                        <p> <span>Employer Number: </span>{{userObj.employertele}}</p>
                        <p> <span>Employer Email: </span>{{userObj.businessemail}}</p>
                    </div>


                    <div class="single-user-update">
                        <input class="update-first-name" ng-model="user.firstname" placeholder="Update First Name" />
                        <input class="update-last-name" ng-model="user.lastname" placeholder="Update Last Name" />
                        <input class="update-birth-month" ng-model="user.monthinput" placeholder="Update Birth Month" />
                        <input class="update-birth-day" ng-model="user.dayinput" placeholder="Update Birth Day" />
                        <input class="update-birth-year" ng-model="user.yearinput" placeholder="Update Birth Year" />
                        <input class="update-ssn" ng-model="user.ssn" placeholder="Update SSN" />
                        <input class="update-home-number" ng-model="user.hometele" placeholder="Update Home Number" />
                        <input class="update-cell-number" ng-model="user.celltele" placeholder="Update Cell Number" />
                        <input class="update-email" ng-model="user.email" placeholder="Update Email" />
                        <input class="update-street-address" ng-model="user.address" placeholder="Update Street Address" />
                        <input class="update-city" ng-model="user.cityinput" placeholder="Update City" />
                        <input class="update-state" ng-model="user.stateinput" placeholder="Update State" />
                        <input class="update-zip-code" ng-model="user.zipinput" placeholder="Update Zip Code" />
                        <input class="update-employer-name" ng-model="user.employername" placeholder="Update Employer Name" />
                        <input class="update-employer-number" ng-model="user.employernumber" placeholder="Update Employer Number" />
                        <input class="update-employer-email" ng-model="user.buisnessemail" placeholder="Update Employer Email" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
