.employee-container{
  height: 100%;
  width: 100%;
  display: flex;
  cursor: pointer;
  /*background-image: url('../../../img/employeebackground5.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
  justify-content: center;
  align-items: center;
}

.employee-box{
  height: 520px;
  width: 1300px;
  border: Solid 2px black;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #D6D6D6;
  flex-direction: column;
  display: flex;
}

/*<!-- ********************** Left Side ************************** -->*/
.employee-left-box{
  height: 100%;
  width: 50%;
  border-right: dashed red 2px;
}

.employee-info{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.find-user{
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-features{
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.find{
  margin-right: 10px;
}

.myfind{
  margin-left: 60px;
  margin-right: 10px;
}

.finderbox{
 margin-top: 0;
}



/*<!-- ********************** Right Side ************************** -->*/

.user-features{
  display: flex;
  justify-content: space-around;
}

.add-user:hover{
  color: yellow;
}

.update-user:hover{
  color: yellow;
}

.delete-user:hover{
  color: yellow;
}

.employee-right-box{
  height: 100%;
  width: 50%;
  padding-left: 15px;
}

.users-populated-container-left{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.users-populated-box{
  border-top: black solid;
  height: 100%;
  width:50%;
}

.my-users-populated-box{
  border-top: black solid;
  margin-right: 15px;
  height: 100%;
  width:50%;
}


/************************************/
.users-populated-container-right{
  display: flex;
  flex-direction: row;
}

.single-user-populated{
  border-top: black solid;
  height:100%;
  width: 50%;
}

.single-user-update{
  border-top: black solid;
  height:100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.single-user-populated p{
  padding: 5px;
  height: 20px;
  margin-bottom: 8px;
}

.single-user-populated p span{
  font-weight: bold;
}

.users-populated-box{
  height: 100%;
  width:50%;
}

.my-users-populated-box{
  height: 100%;
  width:50%;
}

.single-user-update{
  height:100%;
  width: 50%;
}

.single-user-update input{
  margin-bottom: 6px;
}
