@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400italic);


.homecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.buisnessname{
  font-size: 100px;
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  color: white;
}

.lettercolor{
  color: red;
}

/************** Tablets ***********************/

@media only screen and (max-width: 770px) {
  .buisnessname{
    font-size: 80px;
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    color: white;
  }
}


/******************* Cell Phone *******************************/

@media only screen and (max-width: 450px) {
  .buisnessname{
    font-size: 50px;
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    color: white;
  }
}
