<div class="applycontainer">
    <div class="applytarea">


        <div class="appheader"><span class="lettercolor">T</span>itan <span class="lettercolor">F</span>inancial</div>

        <!-- ******************** Applicants Personal Info ******************** -->
        <div class="appinfo">Applicant Information</div>

        <div class="applytext">

            
                <div class="create-username">Create Username</div>
                <input ng-model="cname" placeholder="Create UserName..." />



                <div class="create-password">Create Password</div>
                <input ng-model="cpassword" placeholder="Create Password..." />


        </div>

        <div class="submit" ui-sref="apply1">Create Login</div>

    </div>
</div>
