
.main-container{
  display:flex;
  position: absolute;
}

#tab img {
  display: none;
}

.main{
  height: 100vh;
  width: auto;
}

.mainimage{
  height: 100%;
  width: 100%;
  background-image: url('./img/city2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content{
  height:80vh;
  width: auto;
}

.header{
  height: 10vh;
  width: auto;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: black;
  opacity: .6;
  background-size: contain;
  display: flex;
  font-size: 20px;

}

.menu{
  display: none;
}

.text-section{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-screen{
  /*font-family: 'Raleway', sans-serif;*/
  color: #FFFFFF;
  z-index: +100px;
}

.about{
  color: White;
  z-index: +100px;
}

.qualifications{
  color: White;
  z-index: +100px;
}

.apply{
  color: White;
  z-index: +100px;
}

.footer{
  background-color: black;
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.footer{
  background-color: black;
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.terms{
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  font-size: 10px;
}

/************** Tablets ***********************/

@media only screen and (max-width: 770px) {
  .main-container{
    display:flex;
    position: absolute;
  }

  .main{
    height: 100vh;
    width: auto;
  }

  .mainimage{
    height: 100%;
    width: 100%;
    background-image: url('./img/city1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header{
    height: 10vh;
    width: auto;
    /*background-color: black;
    opacity: .4;*/
    font-size: 20px;
  }

  .main-content{
    height: 80vh;
    width: auto;
  }

  .footer{
    height: 10vh;
    width: auto;
    background-color: black;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .terms{
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 10px;
  }

}

/******************* Cell Phone *******************************/

@media only screen and (max-width: 450px) {
  .main-container{
    display:flex;
    position: absolute;
  }

  .main{
    height: 100vh;
    width: auto;
  }

  .mainimage{
    height: 100%;
    width: 100%;
    background-image: url('./img/city1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header{
    height: 10vh;
    width: 100%;
    font-size: 30px;
    /*background-color: black;
    opacity: .4;*/
  }

  .menu{
    height: 80px;
    width: 70px;
    padding-bottom: 20px;
    z-index: 200;
    display: flex;
    align-items: center;
  }

  .main-content{
    height: 80vh;
    width: auto;
  }

  .text-section{
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    margin-top: -200px;
    height: 0;
    width:100%;
    margin-left: -70px;
    background-color: black;
    /*background-color: black;*/
    flex-direction: column;
    align-items: center;
    /*font-size: 40px;*/
    font-weight:bolder;
  }

  .show-menu{
    display: flex;
    margin-top: 0px;
    height: 300px;
  }

  .footer{
    height: 10vh;
    width: auto;
    background-color: black;
    opacity: .6;
  }

}
