<div class="aboutcontainer">

    <div class="abouttext">
        <p>Lorem ipsum dolor sit amet, eu vel lorem possit liberavisse, veniam invenire pro eu. Et nam animal tacimates. Ea his omnis utroque dignissim, legimus qualisque ne vis. Id est tritani labitur, vim consul soleat accusamus ex. Sint malorum rationibus
            est at, mazim labores efficiantur mei ex.</p>

        <p>Laboramus definitiones ad mei. Ei vis nobis dictas, ea novum veritus sensibus qui, philosophia complectitur ut vix. Sea vero lorem ut. Id sed cibo prodesset, nec rebum sensibus efficiantur ad. Inani singulis consetetur et pri.</p>

        <p>Modo veri ut cum, ridens putent verterem nam ex, ex ullum novum sed. Fuisset senserit nec et, eripuit maluisset eam ex, numquam omittam ea has. Te corpora albucius liberavisse pri, at mea option accusam. Vim et vocibus evertitur, at eam everti
            argumentum. Cum ei cibo scaevola.
            <p>

                <p>Inimicus tractatos in eam. Vim malorum euripidis contentiones et. Ne vel rebum dicant menandri, mea ei platonem liberavisse delicatissimi, modo labitur voluptatum mea ei. Vim aeque alterum numquam te, vix ei wisi blandit adipisci, oratio
                    indoctum te per.</p>

                <p>Elit regione euripidis te est. Est mandamus expetendis ut, graeci minimum temporibus quo ei. Cu causae graecis insolens qui. Ad vis vitae nullam integre, suas stet principes ex est, liberavisse voluptatibus no nec. Et nec erat probatus.
                    <p>

    </div>

    <div class="ceo"> <img src="./img/ceo.jpg"></div>
    <div class="ceosignature">John Doe</div>
</div>
