<div class="applycontainer">
    <div class="applytarea">


        <div class="appheader"><span class="lettercolor">T</span>itan <span class="lettercolor">F</span>inancial</div>

        <!-- ******************** Applicants Personal Info ******************** -->
        <div class="appinfo">Applicant Information</div>

        <div class="applytext">


            <div class="username">Username</div>
            <input ng-model="name" placeholder="UserName..." />



            <div class="password">Password</div>
            <input ng-model="password" placeholder="Password..." />


        </div>

        <div class="submit-section">

            <div class="submit-user" ui-sref="userpage">User Login</div>
            <div class="submit-employee" ui-sref="employeepage">Employee Login</div>

        </div>

    </div>
</div>
