<div class="applycontainer">
    <div class="applytarea">


        <div class="appheader"><span class="lettercolor">T</span>itan <span class="lettercolor">F</span>inancial</div>

        <!-- ******************** Applicants Personal Info ******************** -->
        <div class="appinfo">Applicant Information</div>

        <div class="applytext">


            <div class="username">Username</div>
            <input ng-model="user.username" placeholder="UserName..." />



            <div class="password">Password</div>
            <input type="password" ng-model="user.password" placeholder="Password..." />


        </div>

        <div class="submit-section">

            <div class="submit-user" ng-click="login(user)">User Login</div>
            <div class="submit-employee" ng-click="employeepage">Employee Login</div>

        </div>

    </div>
</div>
