@import url(https://fonts.googleapis.com/css?family=Lobster+Two:400italic);


.login-choice-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}

.choice{
  font-size: 25px;
  color: white;
}

.loginsection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  margin-top: 20px;
}

.customerchoice{
  height: 40px;
  width: 160px;
  font-size: 20px;
  color: white;
  border: solid white 3px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customerchoice:hover{
  color: yellow;
  border: solid yellow 5px;
}

.employeechoice{
  height: 40px;
  width: 160px;
  font-size: 20px;
  color: white;
  border: solid white 3px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.employeechoice:hover{
  color: yellow;
  border: solid yellow 5px;
}

/************** Tablets ***********************/

@media only screen and (max-width: 770px) {
  .buisnessname{
    font-size: 80px;
    margin-bottom: 50px;
  }
}


/******************* Cell Phone *******************************/

@media only screen and (max-width: 450px) {
  .buisnessname{
    font-size: 50px;
    margin-bottom: 100px;
  }
