/*************** Employment Section Css *****************/

.Employment {
    height: 40px;
    width: 98%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.employment-section{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

#employerinput{
  width: 300px;
}

.Employ{
  margin-right: 10px;
}
.Employnum{
  margin-right: 10px;
}

/*************************** button section *************************/

.buttons2{
  margin-left: 20px;
  margin-top: 239px;
  display: flex;
  flex-direction: row;
}

.submit2{
  height: 25px;
  width: 60px;
  border: 1px black solid;
  border-radius: 5px;
  color: #3B5D6C;
  /*background-color: grey;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.back{
  height: 25px;
  width: 60px;
  margin-left: 10px;
  border: 1px black solid;
  border-radius: 5px;
  color: #3B5D6C;
  /*background-color: grey;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/************** Tablets ***********************/

@media only screen and (max-width: 770px) {
  .applycontainer {
      align-items: center;
  }
}


/******************* Cell Phone *******************************/

@media only screen and (max-width: 450px) {
  .employment-section{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
  }
  .Employnum{
    margin-top: 20px;
  }
  .Employemail{
    margin-top: 20px;
  }
  .buttons2{
    margin-top: 257px;
    display: flex;
    flex-direction: row;
  }
}
